*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        background-color: black;
        padding: 25px;
        width: 50%;
        border-radius: 10px;
        .AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPp{
            color: white;
            border: none;
            ::placeholder{
                color: #ffffff !important;
            }
        }
    }
    .container-fluid{
        display: flex;
        justify-content: center;
    }
    select{
        border: none;
    }
    .AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPp::placeholder{
        color: rgb(255, 255, 255);
    }
}